#.idea/workspace.xml
#.history
#dist
#.idea/*
#/*.iml
#/out
#/.idea_modules
#/.classpath
#/.project
#/RUNNING_PID
#/.settings
#projectFilesBackup/
#*/target
#metastore_db/
#*~
#.settings/
#.cache/
#.history/
#.lib/
#dist/*
#target/
#lib_managed/
#src_managed/
#.project
#.classpath
#.cache
#terraform/.terraform
#terraform.tfstate
#terraform.tfstate.backup
#.DS_Store
#.DS_Store?
#*.DS_Store
#*.tfstate*
#*.tfvars
#

# terraform
.terraform/
*.tfstate*
*.tfvars
*.log
/k8s-templates/scala-api-secret.yml

# Jetbrains IDE
/.idea
/.idea_modules
.DS_Store
.DS_Store?
*.DS_Store

#Ansible
*.retry